@{
    ViewBag.Title = "Página Inicial";
}

<h3>Painel de Controle</h3>
<p>Adicione, edite ou remova filmes e séries de sua biblioteca com facilidade e agilidade</p>

@*<div>
    <input type="button" value="Visualizar Filmes" onclick="location.href='@Url.Action("Filmes", "Filmes")'" />

</div> <br /><br />
<div>
    <input type="button" value="Visualizar Séries" onclick="location.href='@Url.Action("Series", "Filmes")'" />
</div>*@
